---
import MarineButton from "@components/ui/MarineButton";
import MainLayout from "@layouts/MainLayout.astro";
import AuthGuard from "src/middleware/AuthGuard";

const pageTitle = "Pembayaran Gagal - Toko Koko Lie";
const pageDescription = "Temukan produk cat marine terbaik yang Anda butuhkan hanya di Toko Koko Lie. Kami menawarkan berbagai macam produk cat marine berkualitas dengan harga yang kompetitif.";
---

<MainLayout title={pageTitle} description={pageDescription}>
    <AuthGuard client:only="react">
        <section class="py-24 bg-white relative overflow-hidden">
            <div class="grid place-items-center  gap-2">
                <img 
                src="/gif/payment-failed.gif"
                alt="Toko Koko Lie"
                class="w-32"
                >
                <h1 class="text-xl text-marine-blue font-semibold">Pembayaran Gagal !</h1>
                <MarineButton as="a" variant="tertiary" href="/order" className="rounded-xl" >Lihat Transaksi</MarineButton>
            </div>
        </section>
    </AuthGuard>
</MainLayout>

