---
import FloatingWhatsAppButton from "@components/ui/FloatingWhatsAppButton";
import CartPreview from "@features/cart/components/CartPreview";
import MainLayout from "@layouts/MainLayout.astro";
import AuthGuard from "src/middleware/AuthGuard";
---

<MainLayout
  title="Keranjang Belanja | Toko Koko Lie"
  description="Halaman keranjang belanja Toko Koko Lie. Lihat daftar produk yang Anda beli dan lakukan checkout dengan mudah."
>
  <AuthGuard client:only="react" redirect="/account/login" >
    <main class="bg-gray-50 py-6">
      <CartPreview client:only="react" />
    </main>
  </AuthGuard>
  
</MainLayout>