---
const { details } = Astro.props;
---

<div>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat exercitationem obcaecati necessitatibus ex, a incidunt sequi accusantium? Sint, praesentium eius. Veritatis ex impedit voluptatum mollitia in, perferendis culpa. Fugiat porro, optio assumenda reiciendis eos tenetur, esse ad nostrum exercitationem ex vero eius excepturi saepe repellat. Minus in quibusdam quam perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dignissimos praesentium mollitia, quis a facilis impedit, doloribus deleniti quasi fugit quas aliquam quo tempore maiores numquam dicta voluptates nisi enim harum, inventore tempora delectus minima? Sunt facere cum sit laboriosam similique, adipisci obcaecati at itaque libero saepe magni fugiat quaerat nihil beatae eius, quis, harum assumenda maiores cupiditate quasi eligendi consequatur! Ex, cumque ipsa aliquam consectetur sint omnis. Voluptate obcaecati magnam mollitia esse similique amet nulla quia maxime maiores deleniti repellat ad minus dolore, sequi animi pariatur fuga impedit doloremque tenetur aut sunt? Explicabo dolore accusantium molestiae ea enim nobis?</p>
</div>