---
import MainLayout from "@layouts/MainLayout.astro";
import MarineProjectCard from "@components/project/MarineProjectCard";
import { marineApi } from "@api/marineApi";

// Fetch projects
let projects = [];
try {
  projects = await marineApi.getProjects();
} catch (error) {
  console.error('Failed to fetch projects:', error);
  // We'll use an empty array as a fallback
}
---

<MainLayout
  title="Projects | Toko Koko Lie"
  description="Browse our projects."
>
  <div class="container mx-auto py-8 px-4 md:px-14">
    <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl mb-8" transition:animate="fade">Projek Kami</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map(project => (
        <MarineProjectCard key={project.id} project={project} client:load />
      ))}
    </div>
  </div>

</MainLayout>
