---
import MainLayout from "@layouts/MainLayout.astro";
import SearchProduct from './components/SearchProduct'
---

<MainLayout
  title="Cari Produk | Toko Koko Lie"
  description="Temukan produk cat marine terbaik yang Anda butuhkan hanya di Toko Koko Lie. Kami menawarkan berbagai macam produk cat marine berkualitas dengan harga yang kompetitif."
  isShowWhatsapp={false}
>
  <div class="container mx-auto py-8 px-4 md:px-14">
    <SearchProduct client:load />
  </div>
</MainLayout>
