---
import MainLayout from "@layouts/MainLayout.astro";
import SearchProduct from './components/SearchProduct'
---

<MainLayout
  title="Shop All Products | ShopAstro"
  description="Browse our complete collection of products."
>
  <div class="container mx-auto py-8 px-4 md:px-14">
    <SearchProduct client:load />
  </div>
</MainLayout>
